<table class="ilForm">
    <tr class="ilFormHeader">
        <td class="ilFormHeader" colspan="2">
            <h3 class="ilFormHeader">{ACCESS_LINK_TITLE}</h3>
        </td>
    </tr>
    <tr>
        <td class="ilFormOption">{ACCESS_LINK_TAG}</td>
        <td class="ilFormValue"><a href="{SSO_SRC}" target="_blank">{URL_PATH}</a>{NOT_AVAILABLE}</td>
    </tr>
    <tr>
        <td class="ilFormOption">{START_DATE}</td>
        <td class="ilFormValue">{START_DATE_VALUE}</td>
    </tr>
    <tr>
        <td class="ilFormOption">{DURATION}</td>
        <td class="ilFormValue">{DURATION_VALUE}</td>
    </tr>
</table>
